.restaurantDetails p {
  margin-top: 20px;
  color: #626264;
  font-size: 16px;
  line-height: 24px;
}
.restaurantDetails {
  position: relative;
  margin-bottom: 7em;
}

.restaurantWrapper {
  display: flex;
}
.restaurantDetails:after {
  display: block;
  content: "";
  border: 1px solid rgba(163, 163, 164, 0.32);
  height: 0;
  width: 25em;
  position: absolute;
  bottom: -4em;
  left: 65%;
}

.restaurantDetails p {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
}
.restaurantDetails p:nth-child(3) {
  max-width: 18em;
}

.restaurantDetails p i {
  margin-right: 16px;
}

.restaurantDetails p:nth-child(3) i {
  display: block;
}
